# Bazel configuration
# =========================================================

common --lockfile_mode=off

build --enable_platform_specific_config
test --test_output=errors
test --test_summary=terse
test --test_timeout=15
test --test_verbose_timeout_warnings

# Compiler configuration
# =========================================================

# Include 3rd-party headers w/ <> instead of "".
build --features=external_include_paths

build:linux --cxxopt=-std=c++2b
build:windows --cxxopt=-std:c++23preview --features=-default_cpp_std
