---
Language: Cpp
BasedOnStyle: LLVM
IndentWidth: 4
AlignAfterOpenBracket: AlwaysBreak
BinPackArguments: false
BinPackParameters: false
ColumnLimit: 100
BreakTemplateDeclarations: Yes
SpaceAfterTemplateKeyword: false
QualifierAlignment: Right
AccessModifierOffset: -4
